#root {
  display: flex;
  font-size: 16px;
  flex-direction: column;
  background-color: var(--white-two);
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  padding: 9.313rem 6.25rem;

  /* height: 89.625rem; */
  /* width: 100rem; */
}
