* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bubble-gum-pink: #ff5ab7;
  --black: #1e1e1e;
  --pinkish-grey: #c7c7c7;
  --very-light-pink: #c4c4c4;
  --azure: #0290ff;
  --pale-grey: #f5f6fa;
  --medium-blue: #307bbe;
  --black-5: rgba(0, 0, 0, 0.05);
  --white: #fff;
  --white-two: #fafafa;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 9.313rem 6.25rem;
  background-color: var(--pale-grey);
  width: 100rem;
  height: 89.625rem;
}
